<?xml version='1.0' encoding='utf-8'?>
<widget id="com.andz.tools" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TikTok HD Downloader</name>
    <content src="index.html" />
    <access origin="*" />
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application android:usesCleartextTraffic="true" />
    </edit-config>
</widget>
